[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
# Check https://flit.readthedocs.io/en/latest/pyproject_toml.html for all available sections
name = "ansys-aedt-toolkits-common"
dynamic = ["version"]
description = "User interface example repository to create your toolkit."
readme = "README.rst"
requires-python = ">=3.8"
license = {file = "LICENSE"}
authors = [
    {name = "ANSYS, Inc.", email = "pyansys.support@ansys.com"},
]
maintainers = [
    {name = "PyAnsys developers", email = "pyansys.maintainers@ansys.com"},
]

classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "build==1.2.1",
    "twine==5.0.0",
    "pyaedt>=0.8.0,<0.10",
    "pydantic",
    "tomli; python_version < '3.12'",
]

[project.optional-dependencies]
all = [
    "pyaedt[all]>=0.8.0,<0.10",
    "flask",
    "PySide6-Essentials",
    "pyqtgraph",
    "qdarkstyle",
    "pyvistaqt",
]
tests = [
    "pyaedt[all]>=0.8.0,<0.10",
    "flask",
    "pytest>=7.4.0,<8.3",
    "pytest-cov>=4.0.0,<5.1",
]
doc = [
    "pyaedt[all]>=0.8.0,<0.10",
    "recommonmark>=0.7.0,<0.8",
    "PySide6-Essentials",
    "ansys-sphinx-theme>=0.10.0,<0.16",
    "numpydoc>=1.5.0,<1.8",
    "Sphinx>=7.1.0,<7.4",
    "sphinx-copybutton>=0.5.0,<0.6",
    "sphinx-autobuild==2021.3.14; python_version == '3.8'",
    "sphinx-autobuild==2024.4.16; python_version > '3.8'",
    "nbsphinx>=0.9.0,<0.10",
    "sphinx_design",
    "jupytext",
    "ipython>=8.13.0,<8.25",
    "jupyterlab>=4.0.0,<4.3",
    "pypandoc>=1.10.0,<1.14",
]

[tool.flit.module]
name = "ansys.aedt.toolkits.common"

[project.urls]
Source = "https://github.com/ansys/pyaedt-toolkits-common.git"
Issues = "https://github.com/ansys/pyaedt-toolkits-common/issues"
Discussions = "https://github.com/ansys/pyaedt-toolkits-common/discussions"
Documentation = "https://aedt.common.toolkit.docs.pyansys.com"
Releases = "https://github.com/ansys/pyaedt-toolkits-common/releases"


[tool.black]
line-length = 120

[tool.isort]
profile = "black"
force_sort_within_sections = true
line_length = 120
default_section = "THIRDPARTY"
src_paths = ["doc", "src", "tests"]

[tool.coverage.run]
source = ["ansys.aedt"]

[tool.coverage.report]
show_missing = true

[tool.pytest.ini_options]
minversion = "7.1"
xfail_strict = false
markers = [
    "aedt_common_api: mark test as related to the AEDT common API.",
    "common_api: mark test as related to the common API.",
    "edb_api: mark test as related to the EDB API.",
    "rest_api: mark test as related to the REST API.",
]
