[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
# Check https://flit.readthedocs.io/en/latest/pyproject_toml.html for all available sections
name = "ansys-aedt-toolkits-common"
dynamic = ["version"]
description = "User interface example repository to create your toolkit."
readme = "README.rst"
requires-python = ">=3.7"
license = {file = "LICENSE"}
authors = [
    {name = "ANSYS, Inc.", email = "pyansys.support@ansys.com"},
]
maintainers = [
    {name = "PyAnsys developers", email = "pyansys.maintainers@ansys.com"},
]

classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "build==1.1.1",
    "twine==5.0.0",
    "pyaedt==0.8.1",
    "pyedb==0.4.0",
    "pydantic",
]

[project.optional-dependencies]
all = [
    "pyaedt[all]==0.8.1",
    "flask",
    "PySide6-Essentials",
    "pyqtgraph",
    "qdarkstyle",
    "pyvistaqt",
]
tests = [
    "pytest==8.0.2",
    "pytest-cov==4.1.0",
    "flask",
]
doc = [
    "pyaedt[all]==0.8.1",
    "PySide6-Essentials",
    "ansys-sphinx-theme==0.14.0",
    "numpydoc==1.6.0",
    "recommonmark==0.7.1",
    "sphinx==7.2.6",
    "sphinx-copybutton==0.5.2",
    "enum-tools[sphinx]==0.11.0",
    "sphinx-autoapi==3.0.0",
    "sphinx-autobuild==2024.2.4",
    "sphinx-autodoc-typehints==2.0.0",
    "sphinx-notfound-page==1.0.0",
    "nbsphinx==0.9.3",
    "sphinx_design",
    "jupytext",
    "ipython==8.22.1",
    "jupyterlab==4.0.6",
    "pypandoc"
]
ci = [
    "pypandoc-binary==1.13",
    "vtk-osmesa==9.2.20230527.dev0",
]

[tool.flit.module]
name = "ansys.aedt.toolkits.common"

[project.urls]
Source = "https://github.com/ansys/pyaedt-toolkits-common.git"
Issues = "https://github.com/ansys/pyaedt-toolkits-common/issues"
Discussions = "https://github.com/ansys/pyaedt-toolkits-common/discussions"
Documentation = "https://aedt.common.toolkit.docs.pyansys.com"
Releases = "https://github.com/ansys/pyaedt-toolkits-common/releases"


[tool.black]
line-length = 120

[tool.isort]
profile = "black"
force_sort_within_sections = true
line_length = 120
default_section = "THIRDPARTY"
src_paths = ["doc", "src", "tests"]

[tool.coverage.run]
source = ["ansys.aedt"]

[tool.coverage.report]
show_missing = true

[tool.pytest.ini_options]
minversion = "7.1"
xfail_strict = false
markers = [
    "aedt_common_api: mark test as related to the AEDT common API.",
    "common_api: mark test as related to the common API.",
    "edb_api: mark test as related to the EDB API.",
    "rest_api: mark test as related to the REST API.",
]
